@import url("https://fonts.googleapis.com/css?family=Codystar|Quicksand:300,400,700");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3rem;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #777;
  background: #2d1b55;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

/*** <--- DEMO STYLES ---> ***/
.wrapper {
  position: relative;
}

#scene {
  position: relative;
  overflow: hidden;
  width: 500px;
  max-width: 100%;
  min-height: 500px;
  border-radius: 50%;
  background: #41277C;
}
#scene::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.025);
}

.text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
}
.text h1 {
  font-size: 3.5em;
  font-weight: 700;
  line-height: 40px;
  color: #EEEEFF;
  text-shadow: 0 0 1px #41277C, 0 0 15px rgba(238, 238, 255, 0.85);
}
.text h2 {
  font-weight: 700;
  font-size: 2.5em;
  color: #9FB798;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.snow .flake {
  opacity: 0;
  position: absolute;
  top: -0.25rem;
  width: 0.25rem;
  height: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.snow .flake:nth-child(1) {
  left: 14%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 3880ms;
          animation-delay: 3880ms;
}
.snow .flake:nth-child(2) {
  left: 56%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 348ms;
          animation-delay: 348ms;
}
.snow .flake:nth-child(3) {
  left: 88%;
  -webkit-animation: blow 18625ms ease-in infinite;
          animation: blow 18625ms ease-in infinite;
  -webkit-animation-delay: 2336ms;
          animation-delay: 2336ms;
}
.snow .flake:nth-child(4) {
  left: 50%;
  -webkit-animation: blow 18402ms ease-in infinite;
          animation: blow 18402ms ease-in infinite;
  -webkit-animation-delay: 867ms;
          animation-delay: 867ms;
}
.snow .flake:nth-child(5) {
  left: 22%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2543ms;
          animation-delay: 2543ms;
}
.snow .flake:nth-child(6) {
  left: 47%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 7792ms;
          animation-delay: 7792ms;
}
.snow .flake:nth-child(7) {
  left: 46%;
  -webkit-animation: blow 18942ms ease-in infinite;
          animation: blow 18942ms ease-in infinite;
  -webkit-animation-delay: 835ms;
          animation-delay: 835ms;
}
.snow .flake:nth-child(8) {
  left: 33%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 202ms;
          animation-delay: 202ms;
}
.snow .flake:nth-child(9) {
  left: 49%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 1023ms;
          animation-delay: 1023ms;
}
.snow .flake:nth-child(10) {
  left: 68%;
  -webkit-animation: blow 17079ms ease-in infinite;
          animation: blow 17079ms ease-in infinite;
  -webkit-animation-delay: 2858ms;
          animation-delay: 2858ms;
}
.snow .flake:nth-child(11) {
  left: 96%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 11935ms;
          animation-delay: 11935ms;
}
.snow .flake:nth-child(12) {
  left: 100%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 10898ms;
          animation-delay: 10898ms;
}
.snow .flake:nth-child(13) {
  left: 100%;
  -webkit-animation: blow 15003ms ease-in infinite;
          animation: blow 15003ms ease-in infinite;
  -webkit-animation-delay: 5890ms;
          animation-delay: 5890ms;
}
.snow .flake:nth-child(14) {
  left: 31%;
  -webkit-animation: blow 19223ms ease-in infinite;
          animation: blow 19223ms ease-in infinite;
  -webkit-animation-delay: 1639ms;
          animation-delay: 1639ms;
}
.snow .flake:nth-child(15) {
  left: 52%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2830ms;
          animation-delay: 2830ms;
}
.snow .flake:nth-child(16) {
  left: 41%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6757ms;
          animation-delay: 6757ms;
}
.snow .flake:nth-child(17) {
  left: 12%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 4920ms;
          animation-delay: 4920ms;
}
.snow .flake:nth-child(18) {
  left: 86%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 1463ms;
          animation-delay: 1463ms;
}
.snow .flake:nth-child(19) {
  left: 98%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 1752ms;
          animation-delay: 1752ms;
}
.snow .flake:nth-child(20) {
  left: 13%;
  -webkit-animation: blow 19468ms ease-in infinite;
          animation: blow 19468ms ease-in infinite;
  -webkit-animation-delay: 8730ms;
          animation-delay: 8730ms;
}
.snow .flake:nth-child(21) {
  left: 91%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 9689ms;
          animation-delay: 9689ms;
}
.snow .flake:nth-child(22) {
  left: 10%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 5369ms;
          animation-delay: 5369ms;
}
.snow .flake:nth-child(23) {
  left: 35%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 7759ms;
          animation-delay: 7759ms;
}
.snow .flake:nth-child(24) {
  left: 64%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 10726ms;
          animation-delay: 10726ms;
}
.snow .flake:nth-child(25) {
  left: 76%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 3142ms;
          animation-delay: 3142ms;
}
.snow .flake:nth-child(26) {
  left: 95%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6809ms;
          animation-delay: 6809ms;
}
.snow .flake:nth-child(27) {
  left: 22%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2246ms;
          animation-delay: 2246ms;
}
.snow .flake:nth-child(28) {
  left: 21%;
  -webkit-animation: blow 16280ms ease-in infinite;
          animation: blow 16280ms ease-in infinite;
  -webkit-animation-delay: 5111ms;
          animation-delay: 5111ms;
}
.snow .flake:nth-child(29) {
  left: 33%;
  -webkit-animation: blow 15024ms ease-in infinite;
          animation: blow 15024ms ease-in infinite;
  -webkit-animation-delay: 54ms;
          animation-delay: 54ms;
}
.snow .flake:nth-child(30) {
  left: 42%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 9530ms;
          animation-delay: 9530ms;
}
.snow .flake:nth-child(31) {
  left: 89%;
  -webkit-animation: blow 16393ms ease-in infinite;
          animation: blow 16393ms ease-in infinite;
  -webkit-animation-delay: 11755ms;
          animation-delay: 11755ms;
}
.snow .flake:nth-child(32) {
  left: 76%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2840ms;
          animation-delay: 2840ms;
}
.snow .flake:nth-child(33) {
  left: 95%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 8528ms;
          animation-delay: 8528ms;
}
.snow .flake:nth-child(34) {
  left: 1%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 5568ms;
          animation-delay: 5568ms;
}
.snow .flake:nth-child(35) {
  left: 39%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2086ms;
          animation-delay: 2086ms;
}
.snow .flake:nth-child(36) {
  left: 96%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 4801ms;
          animation-delay: 4801ms;
}
.snow .flake:nth-child(37) {
  left: 44%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 1082ms;
          animation-delay: 1082ms;
}
.snow .flake:nth-child(38) {
  left: 20%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 4450ms;
          animation-delay: 4450ms;
}
.snow .flake:nth-child(39) {
  left: 85%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6076ms;
          animation-delay: 6076ms;
}
.snow .flake:nth-child(40) {
  left: 39%;
  -webkit-animation: blow 15732ms ease-in infinite;
          animation: blow 15732ms ease-in infinite;
  -webkit-animation-delay: 7434ms;
          animation-delay: 7434ms;
}
.snow .flake:nth-child(41) {
  left: 90%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 4762ms;
          animation-delay: 4762ms;
}
.snow .flake:nth-child(42) {
  left: 86%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 10391ms;
          animation-delay: 10391ms;
}
.snow .flake:nth-child(43) {
  left: 54%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2652ms;
          animation-delay: 2652ms;
}
.snow .flake:nth-child(44) {
  left: 62%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 10728ms;
          animation-delay: 10728ms;
}
.snow .flake:nth-child(45) {
  left: 84%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6916ms;
          animation-delay: 6916ms;
}
.snow .flake:nth-child(46) {
  left: 41%;
  -webkit-animation: blow 16600ms ease-in infinite;
          animation: blow 16600ms ease-in infinite;
  -webkit-animation-delay: 3022ms;
          animation-delay: 3022ms;
}
.snow .flake:nth-child(47) {
  left: 29%;
  -webkit-animation: blow 15701ms ease-in infinite;
          animation: blow 15701ms ease-in infinite;
  -webkit-animation-delay: 1805ms;
          animation-delay: 1805ms;
}
.snow .flake:nth-child(48) {
  left: 60%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 10934ms;
          animation-delay: 10934ms;
}
.snow .flake:nth-child(49) {
  left: 92%;
  -webkit-animation: blow 16636ms ease-in infinite;
          animation: blow 16636ms ease-in infinite;
  -webkit-animation-delay: 9681ms;
          animation-delay: 9681ms;
}
.snow .flake:nth-child(50) {
  left: 54%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 8178ms;
          animation-delay: 8178ms;
}

.tree {
  position: relative;
  position: absolute;
}
.tree::before, .tree::after {
  content: "";
  position: absolute;
}
.tree.one {
  bottom: 30%;
  left: 47%;
  opacity: 0.7;
}
.tree.two {
  transform: scale(0.8);
  bottom: 28%;
  left: 80%;
  opacity: 0.4;
}
.tree.three {
  transform: scale(0.6);
  bottom: 26%;
  left: 70%;
  opacity: 0.2;
}
.tree.four {
  transform: scale(0.8);
  bottom: 28%;
  left: 20%;
  opacity: 0.5;
}
.tree.five {
  transform: scale(0.6);
  bottom: 26%;
  left: 38%;
  opacity: 0.2;
}
.tree::before {
  border: 20px solid transparent;
  border-bottom: 30px solid #EEEEFF;
}
.tree::after {
  top: -10px;
  border: 20px solid transparent;
  border-bottom: 30px solid #EEEEFF;
}

.platform {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 100px;
  padding-top: 50px;
  background: #2d1b55;
  border-radius: 0 0 5px 5px;
}
.platform::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #9FB4C7;
  border-radius: 0 0 5px 5px;
}
.platform .quote {
  padding: 0 1rem;
  font-family: "Codystar", cursive;
  font-size: 1.8em;
  text-align: center;
  line-height: 1.4;
  color: #9FB798;
}

@-webkit-keyframes blow {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
    transform: translate(0, 500px);
  }
}

@keyframes blow {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
    transform: translate(0, 500px);
  }
}
@media all and (max-width: 520px) {
  .wrapper {
    transform: scale(0.6);
  }
}